
.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vh;
}

.green {
    background-color: green;
    height: 30%;
    width: 100%;
}

.red {
    background-color: red;
    height: 10%;
    width: 100%;
}

.blue {
    background-color: blue;
    height: 60%;
    width: 100%;
}
